arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1618947141331/work
asgiref==3.4.1
Brotli==1.0.9
certifi==2021.5.30
cftime @ file:///D:/bld/cftime_1621553898752/work
click==8.0.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1615678826465/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1626221653636/work
dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-table==4.12.0
dnspython==1.16.0
ephem @ file:///D:/bld/ephem_1623723200405/work
fastapi==0.68.0
fbprophet @ file:///D:/bld/fbprophet_1599365723319/work
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
h11==0.12.0
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1624318587407/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1626824287322/work
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
kaleido==0.2.1
kiwisolver @ file:///D:/bld/kiwisolver_1610099949969/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
LunarCalendar==0.0.9
MarkupSafe==2.0.1
matplotlib @ file:///D:/bld/matplotlib-suite_1620506183901/work
netCDF4 @ file:///D:/bld/netcdf4_1624308493434/work
numpy @ file:///D:/bld/numpy_1626648573548/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///D:/bld/pandas_1627224175793/work
Pillow @ file:///D:/bld/pillow_1625677957583/work
plotly==5.1.0
pydantic==1.8.2
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
pymongo==3.12.0
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
scipy @ file:///C:/bld/scipy_1624825048748/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
starlette==0.14.2
tenacity==8.0.1
tornado @ file:///D:/bld/tornado_1610094878337/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1627689047698/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
uvicorn==0.14.0
Werkzeug==2.0.1
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1627311788418/work
zipp==3.5.0
